<div class="forgot-password">
  <div class="row flex-items-xs-center">
    <div class="col-lg-5 col-md-8 col-sm-12 col-xs-12">
      <div class="card">
        <div class="card-header">
          <img class="header-img" src="/assets/images/012-card.png" alt="uniform">
          <h3 class="content-heading">FORGOT PASSWORD</h3>
        </div>
        <div class="card-block content-description">
          <div *ngIf="!successMessage">
            <div class="card-text">Enter your email address and we'll send you a link to reset your password</div>
            <form (ngSubmit)="submitReset()">
              <section class="form-block">
                <div class="row flex-items-xs-center">
                  <input [(ngModel)]="email" class="col-xs-9" type="email" name="email" placeholder="Email Address">
                </div>
              </section>
              <button [clrLoading]="isLoading" [disabled]="isLoading" class="btn btn-outline" type="submit">Send Reset Link</button>
            </form>
          </div>
          <div *ngIf="successMessage">
            <div class="row flex-items-xs-center">
              <clr-icon shape="check-circle" class="is-success" size="96"></clr-icon>
            </div>
            <h2 class="success-header">Email Sent!</h2>
            <div class="card-text">{{successMessage}}</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>