/* You can add global styles to this file, and also import other style files */
a {
    cursor: pointer;
}


.background-blue {
    background-color: #002538;
}

.main {
    padding: 20px 40px;
}

@media only screen and (max-width: 544px) {
    .main {
        padding: 0 10px
    }
}