<!-- Banner -->
<div class="banner-container row">
    <div class="banner col-lg-5">
        <img class="stopwatch" src="/assets/images/014-stopwatch.png" alt="">
    </div>
    <div class="banner col-lg-7">
        <h3 class="banner-subheader">Welcome to</h3>
        <h1 class="banner-header">GROUND OUT</h1>
    </div>
</div>
<!-- Auth buttons -->
<div *ngIf="!isLoggedIn" class="row flex-items-xs-center nav-button-group">
    <a routerLink="/auth/login" class="btn btn-outline">Log in</a>
    <a routerLink="/auth/register" class="btn btn-primary">Get Started</a>
</div>
<!-- Trip nav buttons -->
<div *ngIf="isLoggedIn" class="row flex-items-xs-center nav-button-group">
    <a routerLink="/trips" class="btn btn-primary">View My Trips</a>
    <a routerLink="/trips/new" class="btn btn-outline">Log New Trip</a>
</div>
<h3 class="tagline">Helping you visit every Major League ballpark</h3>
<div class="content-container row">
    <div class="col-lg-4 col-md-6 col-sm-12">
        <div class="card">
            <div class="card-header">
                <div class="content-img-circle dark-blue">
                    <img class="content-img" src="/assets/images/017-field.png" alt="find tickets">
                </div>
                <a routerLink="/events/Braves">
                    <h3 class="content-heading">EXPLORE PARKS</h3>
                </a>
            </div>
            <div class="card-block">
                Not sure which ballpark to check out next? See what other users have posted about each one before you plan your next trip.
            </div>
        </div>
    </div>
    <div class="col-lg-4 col-md-6 col-sm-12">
        <div class="card">
            <div class="card-header">
                <div class="content-img-circle red">
                    <img class="content-img" src="/assets/images/007-tactics.png" alt="find tickets">
                </div>
                <a routerLink="/trips">
                    <h3 class="content-heading">TRACK PROGRESS</h3>
                </a>
            </div>
            <div class="card-block">
                Track your progress as you visit all 30 Major League ballparks. You'll unlock badges as you post photos and document each
                trip you make around the country. Ground Out will keep a scrapbook of your journey for you to revist any
                time.
            </div>
        </div>
    </div>
    <div class="col-lg-4 col-md-6 col-sm-12">
        <div class="card">
            <div class="card-header">
                <div class="content-img-circle gold">
                    <img class="content-img" src="/assets/images/021-ticket.png" alt="find tickets">
                </div>
                <a routerLink="/events">
                    <h3 class="content-heading">FIND TICKETS</h3>
                </a>
            </div>
            <div class="card-block">
                The Ground Out Ticket Finder scours Seatgeek to find the tickets you want. Search by price, distance, and date.
            </div>
        </div>
    </div>
</div>