extends email-layout

block content
  h2 Ground Out Password Reset
  p Hi #{user.name}
  p Forgot your password? If you requested a password reset, you can click the link below. If not, you can ignore this email and your password won't change.
  +button(resetURL, 'Reset my Password')
  p If you can't click the above button please visit #{resetURL}