.reset-password {
  height: 100vh;
}

.card-header {
  background-color: #007E7A;
}

.header-img {
  display: block;
  height: 150px;
  margin: auto;
}

.content-heading {
  color: #FAFAFA;
  text-align: center;
  font-weight: 500;
  font-family: 'Josefin Sans', sans-serif;
}

.content-description {
  font-size: 16px;
  line-height: 30px;
  color: #747474;
  margin-top: 20px;
}

.content-description .card-text {
  text-align: center;
}

.success-header {
  text-align: center;
  font-weight: 700;
  color: #328600;
  margin: 0 0 18px 0;
}

.alert-item, .alert-text {
  margin-left: .25rem;
}