<div class="reset-password">
  <div class="row flex-items-xs-center">
    <div class="col-lg-5 col-md-8 col-sm-12 col-xs-12">
      <div class="card">
        <div class="card-header">
          <img class="header-img" src="/assets/images/012-card.png" alt="uniform">
          <h3 class="content-heading">RESET PASSWORD</h3>
        </div>
        <div class="card-block content-description">
          <div *ngIf="validationError" class="alert alert-danger alert-sm">
            <div class="alert-item static">
              <clr-icon class="is-danger" shape="error-standard"></clr-icon>
              <span class="alert-text">
                {{validationError}}
              </span>
            </div>
          </div>
          <div class="card-text">Choose a new password</div>
          <form (ngSubmit)="resetPassword()">
            <section class="form-block">
              <div class="row flex-items-xs-center form-group">
                <input class="col-xs-9" [(ngModel)]="password" type="password" name="password" placeholder="Password">
              </div>
              <div class="row flex-items-xs-center form-group">
                <input class="col-xs-9" [(ngModel)]="passwordConfirm" type="password" name="confirm" placeholder="Confirm Password">
              </div>
            </section>
            <button [clrLoading]="isLoading" [disabled]="isLoading" class="btn btn-outline" type="submit">Submit</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>