<div class="login-wrapper">
  <form [formGroup]="form" (submit)="onLoginSubmit()" class="login">
    <label class="title">
      <img src="assets/images/012-card.png" alt="login-logo" id="auth-logo">
      Login
    </label>
    <div class="login-group">
      <!-- Email -->
      <input formControlName="email" class="username" type="text" placeholder="Email">
      <!-- Password -->
      <input formControlName="password" class="password" type="password" placeholder="Password">

      <!-- Error Messages -->
      <div *ngIf="form.controls.email.errors?.required && form.controls.email.dirty" class="error active">
        Email is required
      </div>
      <div *ngIf="form.controls.password.errors?.required && form.controls.password.dirty" class="error active">
        Password is required
      </div>

      <button [disabled]="form.invalid || isProcessing" type="submit" class="btn btn-primary">LOG IN</button>
      <a routerLink="/auth/register" class="signup">Sign up for a new account</a>
    </div>
  </form>
</div>