<div class="login-wrapper">
  <form class="login">
    <label class="title">
      <img src="assets/images/012-card.png" alt="login-logo" id="login-logo">
      <h3 class="welcome">Welcome to</h3>
      Ground Out
    </label>
    <div class="login-group">
      <input class="username" type="text" id="login_username" placeholder="Username">
      <input class="password" type="password" id="login_password" placeholder="Password">
      <!-- <div class="error active">
        Invalid user name or password
      </div> -->
      <button type="submit" class="btn btn-primary">NEXT</button>
      <a href="javascript://" class="signup">Sign up for a new account</a>
    </div>
  </form>
</div>