#photos {
	opacity: 0;
	overflow: hidden;
	z-index: -1;
}

.preview-img {
    height: 175px;
}

.preview-img-wrapper {
	padding: 0 8px;
	display: inline-block;
}

.preview-img-wrapper:last-child {
	padding-bottom: 12px;
}

.preview-img-wrapper .card-block, .preview-img-wrapper .card-footer {
	padding: 8px;
}