<div class="col-lg-10 col-md-12 offset-lg-1">
  <div class="card">
    <div class="card-header">Log Trip</div>
    <form (submit)="submitTrip()" *ngIf="trip">
      <div class="card-block">
        <section class="form-block">
          <!-- Date -->
          <div class="form-group">
            <label for="tripDate" class="required">Date</label>
            <input [(ngModel)]="trip.tripDate" type="date" name="tripDate">
          </div>
          <!-- Park -->
          <div class="form-group">
            <label for="park" class="required">Park</label>
            <div class="select">
              <select [(ngModel)]="trip.park" name="park">
                <option [value]="null">SELECT PARK</option>
                <option *ngFor="let park of parks" [value]="park._id">{{park.name}}</option>
              </select>
            </div>
          </div>

          <!-- Rating -->
          <div class="form-group">
            <label for="rank">Park Rating</label>
            <clr-icon (click)="trip.rating = rank" (mouseenter)="hover = rank" (mouseleave)="hover = null" shape="star" *ngFor="let rank of [1,2,3,4,5]; let i = index"
              [ngClass]="{'is-solid': hover >= rank|| trip.rating >= rank}" class="is-warning">
            </clr-icon>
          </div>
          <!-- Comments -->
          <div class="form-group">
            <label for="comments">Details</label>
            <textarea [(ngModel)]="trip.comments" rows="10" cols="10" name="comments" placeholder="Score, stats, weather, details, etc..."></textarea>
          </div>
          <!-- Picture Previews -->
          <div class="row">
            <div *ngFor="let preview of photoPreviews; let i = index" class="preview-img-wrapper">
              <div class="card">
                <div class="card-block">
                  <img [src]="preview" class="preview-img" />
                </div>
                <div class="card-footer flex-items-xs-right">
                  <clr-tooltip>
                    <clr-icon (click)="deletePhoto(i)" shape="trash" size="24"></clr-icon>
                    <clr-tooltip-content>
                      <span>Delete Photo</span>
                    </clr-tooltip-content>
                  </clr-tooltip>
                </div>
              </div>
            </div>
          </div>
          <!-- Picture Upload -->
          <div class="form-group">
            <label class="btn btn-sm" for="photos">Add Photos</label>
            <input type="file" (change)="onPhotoSelect($event)" name="photos" id="photos" multiple>
          </div>
        </section>
      </div>
      <!-- Submit -->
      <div class="card-footer">
        <button (click)="cancel()" class="btn btn-default">Cancel</button>
        <button type="submit" class="btn btn-primary">Submit</button>
      </div>
    </form>
  </div>
</div>

<!-- Modal -->
<clr-modal [(clrModalOpen)]="hasBadge" [clrModalClosable]="false">
  <h1 class="modal-title badge-header">{{badgeTitle}}</h1>
  <div class="modal-body">
    <img class="badge-img" src="assets/images/028-hand.png" alt="badge">
    <h5 class="badge-content">{{badgeContent}}</h5>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn" (click)="hasBadge = false">
      Log Another Trip
    </button>
    <button type="button" class="btn btn-primary" (click)="navigateToTrips()">
      View My Scrapbook
    </button>
  </div>
</clr-modal>