<h3 class="badge-header">Badges</h3>
<div class="row">
  <div *ngFor="let badge of badges; let i = index" class="col-xl-4 col-lg-6 col-md-3 col-sm-6 col-xs-12 go-badge tooltip tooltip-sm tooltip-top-left"
    role="tooltip" aria-haspopup="true">
    <img [src]="'/assets/images/' + badge.image" alt="badge.name" class="go-badge-image">
    <span class="tooltip-content">{{badge.description}}</span>
    <strong class="go-badge-name">{{badge.name}}</strong>
  </div>
  <div *ngIf="!badges || !badges.length">
    <br>
    <em>You don't have any badges yet. Log some trips to unlock them.</em>
  </div>
</div>