<!-- <img src= alt="uniform" class="teams-img">
<h1 class="header-team">Teams</h1> -->
<div class="row flex-items-xs-center">
  <div class="col-lg-6 col-md-8 col-sm-12 col-xs-12">
    <div class="card">
      <div class="card-header">
        <div class="content-img-circle dark-blue">
          <img class="teams-img" src="/assets/images/026-uniform.png" alt="uniform">
        </div>
        <h3 class="content-heading">TEAMS</h3>
      </div>
      <div class="card-block">
        <p class="content-description">
          Not sure which park to visit next? Explore photos uploaded by other users from their own trips. Find available tickets to
          each park on the date or price that works for you.
          <br><br>Select a team to get started.
        </p>
      </div>
    </div>
  </div>
</div>