#logo {
    display: inline-block;
    height: 75%
}

.avatar {
    display: block;
    height: 75%;
    border-radius: 50px;
    margin: auto 0;
}

.header-actions {
    padding-right: 24px;
}

@media only screen and (max-width: 768px) {
    .header-nav .collapsed-nav {
        display: inherit;
    }

    .expanded-nav {
        display: none;
    }
}

@media only screen and (min-width: 768px) {
    .header-nav .collapsed-nav {
        display: none;
    }
    
    .expanded-nav {
        display: inherit;
    }
}