.park-img {
    display: block;
    border-radius: 100px;
    height: 100px;
    width: 100px;
    filter: grayscale(100%);
    margin: auto;
}

.park-name {
    text-align: center;
    font-size: 12px;
    display: block;
    width: 100px;
    line-height: 15px;
    margin: 5px auto 10px;
}

.park-img-active {
    filter: grayscale(0);
}